@font-face {
    font-family: Pixeled;
    src: url("../fonts/pixeled.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
}

#start-game {
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/startscreen.png");
    font-family: Pixeled;
    color: #fff;
}

#start-btn {
    position: absolute;
    top: 370px;
    left: 515px;
    font-family: Pixeled;
    border: 0;
    background: 0;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    outline: none;
}

#start-btn:hover {
    color: lawngreen;
}

#soundtrack-credits {
    display: none;
}


/*na todor*/

#game-over {
    font-family: Pixeled;
    text-align: center;
    font-weight: bold;
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/background.png");
    font-size: 50px;
    color: white;
    display: none;
}

#game-over-skull {
    padding-top: 30px;
    margin-bottom: -40px;
}

#button-restart {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #4f4d32, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Pixeled;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    text-shadow: none;
}

#button-restart:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#game-over-heading {
    padding-top: -50px;
    margin-top: 40px;
    font-size: 100px;
    padding-bottom: -50px;
    margin-bottom: -400px;
}